# ignore all the backup files created by editors
*~
*.so
*.o

# things to ignore in directory ANTsR/src
extdata/
src/*.o
src/*.so
src/symbols.rds
src/antb/
inst/doc
vignettes/*pdf
R/convolveImage.R
R/invariantImageSimilarity.R
man/convolveImage.Rd
man/invariantImageSimilarity.Rd
src/invariantImageSimilarity.cpp
